In [1]:
import pandas as pd
import numpy as np

In [2]:
county_unemployment_2006 = pd.read_csv("2006_unemployment_by_county.csv")
county_unemployment_2006.head()

,laus_code,state_fips_code,county_fips_code,county_state,year,labor_force,employed,unemployed,unemployment_rate
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2006.0,"24,398","23,585",813,3.3
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2006.0,"79,711","77,147","2,564",3.2
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2006.0,"10,705","10,096",609,5.7
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2006.0,"8,850","8,477",373,4.2
4,CN0100900000000,1.0,9.0,"Blount County, AL",2006.0,"26,770","25,902",868,3.2

In [3]:
county_unemployment_2006_df = pd.DataFrame(county_unemployment_2006)
county_unemployment_2006_df[['county','state']]= county_unemployment_2006_df.county_state.str.split(",",expand=True,)

clean_county_2006_df = county_unemployment_2006_df.drop('county_state',axis=1)
clean_county_2006_df = clean_county_2006_df.dropna()
drop_pr_df = clean_county_2006_df[~clean_county_2006_df.state.str.contains('PR',case=True)]
sorted_county_2006_df = drop_pr_df.sort_values(['unemployment_rate'], ascending=False)
sorted_county_2006_df.head()

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state
1157,CN2209500000000,22.0,95.0,2006.0,N.A.,N.A.,N.A.,N.A.,St. John the Baptist Parish,LA
1153,CN2208700000000,22.0,87.0,2006.0,N.A.,N.A.,N.A.,N.A.,St. Bernard Parish,LA
1135,CN2205100000000,22.0,51.0,2006.0,N.A.,N.A.,N.A.,N.A.,Jefferson Parish,LA
1145,CN2207100000000,22.0,71.0,2006.0,N.A.,N.A.,N.A.,N.A.,Orleans Parish,LA
1154,CN2208900000000,22.0,89.0,2006.0,N.A.,N.A.,N.A.,N.A.,St. Charles Parish,LA

In [15]:
sorted_county_2006_df.state_fips_code = sorted_county_2006_df.state_fips_code.astype(str)
sorted_county_2006_df.county_fips_code = sorted_county_2006_df.county_fips_code.astype(str)

In [16]:
# sorted_county_2006_df.state_fips_code

In [17]:
sorted_county_2006_df["county_fips_code"]=sorted_county_2006_df["county_fips_code"].str.split(pat=".")
sorted_county_2006_df["county_fips_code"]

1157     [95, 0]
1153     [87, 0]
1135     [51, 0]
1145     [71, 0]
1154     [89, 0]
1147     [75, 0]
1161    [103, 0]
1044    [109, 0]
2317      [9, 0]
1276     [97, 0]
236     [105, 0]
2357     [89, 0]
1325     [29, 0]
410      [53, 0]
92      [282, 0]
1425     [55, 0]
91      [280, 0]
2343     [61, 0]
73       [70, 0]
1420     [45, 0]
1299    [143, 0]
2325     [25, 0]
1099    [219, 0]
1262     [69, 0]
207      [47, 0]
1473    [151, 0]
1108    [237, 0]
2956     [13, 0]
2329     [33, 0]
1411     [27, 0]
          ...
2356     [87, 0]
1304    [153, 0]
1808     [29, 0]
1295    [135, 0]
1228      [1, 0]
1270     [85, 0]
89      [240, 0]
1245     [35, 0]
1410     [25, 0]
1408     [21, 0]
2708    [377, 0]
2670    [301, 0]
2515    [181, 0]
1269     [83, 0]
1233     [11, 0]
1066    [153, 0]
2324     [23, 0]
1423     [51, 0]
2315      [5, 0]
1253     [51, 0]
1063    [147, 0]
1243     [31, 0]
1421     [47, 0]
2959     [19, 0]
1015     [51, 0]
2318     [11, 0]
94        [1, 0]
583      [71, 0]
3133     [35, 0]
1643     [97, 0]
Name: county_fips_code, Length: 3138, dtype: object

In [6]:
sorted_county_2006_df["state_fips_code"]=sorted_county_2006_df["state_fips_code"].str.split(pat=".")
sorted_county_2006_df["state_fips_code"]

1157    [22, 0]
1153    [22, 0]
1135    [22, 0]
1145    [22, 0]
1154    [22, 0]
1147    [22, 0]
1161    [22, 0]
1044    [21, 0]
2317    [45, 0]
1276    [26, 0]
236      [6, 0]
2357    [45, 0]
1325    [27, 0]
410     [13, 0]
92       [2, 0]
1425    [28, 0]
91       [2, 0]
2343    [45, 0]
73       [2, 0]
1420    [28, 0]
1299    [26, 0]
2325    [45, 0]
1099    [21, 0]
1262    [26, 0]
207      [6, 0]
1473    [28, 0]
1108    [21, 0]
2956    [53, 0]
2329    [45, 0]
1411    [28, 0]
         ...
2356    [45, 0]
1304    [26, 0]
1808    [35, 0]
1295    [26, 0]
1228    [26, 0]
1270    [26, 0]
89       [2, 0]
1245    [26, 0]
1410    [28, 0]
1408    [28, 0]
2708    [48, 0]
2670    [48, 0]
2515    [47, 0]
1269    [26, 0]
1233    [26, 0]
1066    [21, 0]
2324    [45, 0]
1423    [28, 0]
2315    [45, 0]
1253    [26, 0]
1063    [21, 0]
1243    [26, 0]
1421    [28, 0]
2959    [53, 0]
1015    [21, 0]
2318    [45, 0]
94       [4, 0]
583     [16, 0]
3133    [56, 0]
1643    [30, 0]
Name: state_fips_code, Length: 3138, dtype: object

In [19]:
sorted_county_2006_df["Updated county_fips_code"] = sorted_county_2006_df["county_fips_code"].apply(lambda x: x[0].zfill(3))
sorted_county_2006_df["Updated county_fips_code"]

1157    095
1153    087
1135    051
1145    071
1154    089
1147    075
1161    103
1044    109
2317    009
1276    097
236     105
2357    089
1325    029
410     053
92      282
1425    055
91      280
2343    061
73      070
1420    045
1299    143
2325    025
1099    219
1262    069
207     047
1473    151
1108    237
2956    013
2329    033
1411    027
       ...
2356    087
1304    153
1808    029
1295    135
1228    001
1270    085
89      240
1245    035
1410    025
1408    021
2708    377
2670    301
2515    181
1269    083
1233    011
1066    153
2324    023
1423    051
2315    005
1253    051
1063    147
1243    031
1421    047
2959    019
1015    051
2318    011
94      001
583     071
3133    035
1643    097
Name: Updated county_fips_code, Length: 3138, dtype: object

In [7]:
sorted_county_2006_df["Updated state_fips_code"] = sorted_county_2006_df["state_fips_code"].apply(lambda x: x[0])
sorted_county_2006_df["Updated state_fips_code"]

1157    22
1153    22
1135    22
1145    22
1154    22
1147    22
1161    22
1044    21
2317    45
1276    26
236      6
2357    45
1325    27
410     13
92       2
1425    28
91       2
2343    45
73       2
1420    28
1299    26
2325    45
1099    21
1262    26
207      6
1473    28
1108    21
2956    53
2329    45
1411    28
        ..
2356    45
1304    26
1808    35
1295    26
1228    26
1270    26
89       2
1245    26
1410    28
1408    28
2708    48
2670    48
2515    47
1269    26
1233    26
1066    21
2324    45
1423    28
2315    45
1253    26
1063    21
1243    26
1421    28
2959    53
1015    21
2318    45
94       4
583     16
3133    56
1643    30
Name: Updated state_fips_code, Length: 3138, dtype: object

In [20]:
new_fips = sorted_county_2006_df["Updated state_fips_code"] + sorted_county_2006_df["Updated county_fips_code"]

In [21]:
new_fips

1157    22095
1153    22087
1135    22051
1145    22071
1154    22089
1147    22075
1161    22103
1044    21109
2317    45009
1276    26097
236      6105
2357    45089
1325    27029
410     13053
92       2282
1425    28055
91       2280
2343    45061
73       2070
1420    28045
1299    26143
2325    45025
1099    21219
1262    26069
207      6047
1473    28151
1108    21237
2956    53013
2329    45033
1411    28027
        ...
2356    45087
1304    26153
1808    35029
1295    26135
1228    26001
1270    26085
89       2240
1245    26035
1410    28025
1408    28021
2708    48377
2670    48301
2515    47181
1269    26083
1233    26011
1066    21153
2324    45023
1423    28051
2315    45005
1253    26051
1063    21147
1243    26031
1421    28047
2959    53019
1015    21051
2318    45011
94       4001
583     16071
3133    56035
1643    30097
Length: 3138, dtype: object

In [23]:
sorted_county_2006_df.['FIPS'] = new_fips

SyntaxError: invalid syntax (<ipython-input-23-718f82e5c9bf>, line 1)

In [8]:
county_unemployment_2016 = pd.read_csv("2016_unemployment_by_county.csv")
county_unemployment_2016.head()

,laus_code,state_fips_code,county_fips_code,county_state,year,labor_force,employed,unemployed,unemployment_rate
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2016.0,"25,966","24,645","1,321",5.1
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2016.0,"90,670","85,839","4,831",5.3
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2016.0,"8,417","7,717",700,8.3
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2016.0,"8,623","8,067",556,6.4
4,CN0100900000000,1.0,9.0,"Blount County, AL",2016.0,"24,623","23,298","1,325",5.4

In [9]:
county_unemployment_2016_df = pd.DataFrame(county_unemployment_2016)
county_unemployment_2016_df[['county','state']]= county_unemployment_2016_df.county_state.str.split(",",expand=True,)
clean_county_2016_df = county_unemployment_2016_df.drop('county_state',axis=1)
clean_county_2016_df = clean_county_2016_df.dropna()
drop_pr_df = clean_county_2016_df[~clean_county_2016_df.state.str.contains('PR',case=True)]
sorted_county_2016_df = drop_pr_df.sort_values(['unemployment_rate'], ascending=False)
sorted_county_2016_df.head()

,laus_code,state_fips_code,county_fips_code,year,labor_force,employed,unemployed,unemployment_rate,county,state
198,CN0602500000000,6.0,25.0,2016.0,"75,207","57,049","18,158",24.1,Imperial County,CA
81,CN0215800000000,2.0,158.0,2016.0,"2,725","2,136",589,21.6,Kusilvak Census Area,AK
1068,CN2115300000000,21.0,153.0,2016.0,"3,147","2,520",627,19.9,Magoffin County,KY
110,CN0402700000000,4.0,27.0,2016.0,"94,117","76,345","17,772",18.9,Yuma County,AZ
95,CN0229000000000,2.0,290.0,2016.0,"2,423","1,990",433,17.9,Yukon-Koyukuk Census Area,AK

In [10]:
worst_counties_2016_df = sorted_county_2016_df.head(10)
worst_counties_2016_df.to_csv('worst_counties_2016_df.csv',index=False)

best_counties_2016_df = sorted_county_2016_df.tail(10)
best_counties_2016_df.to_csv('best_counties_2016_df.csv',index=False)

In [11]:
joined_2016_df = pd.concat([worst_counties_2016_df, best_counties_2016_df])

unemployment_df = pd.merge(joined_2016_df, sorted_county_2006_df, on=['county','state'],how='inner')
drop_unemployment_df = unemployment_df.drop(columns=['laus_code_x','laus_code_y','state_fips_code_x','county_fips_code_x'])
final_unemployment_df = drop_unemployment_df.rename(columns={'county_fips_code_y': 'county_fips_code', 
                                                             'state_fips_code_y': 'state_fips_code'})

# final_unemployment_df['FIPS'] = final_unemployment_df['state_fips_code'].map(str)  final_unemployment_df['county_fips_code'].map(str)


final_unemployment_df

,year_x,labor_force_x,employed_x,unemployed_x,unemployment_rate_x,county,state,state_fips_code,county_fips_code,year_y,labor_force_y,employed_y,unemployed_y,unemployment_rate_y,Updated state_fips_code
0,2016.0,"75,207","57,049","18,158",24.1,Imperial County,CA,"[6, 0]",25.0,2006.0,"63,023","53,304","9,719",15.4,6
1,2016.0,"2,725","2,136",589,21.6,Kusilvak Census Area,AK,"[2, 0]",158.0,2006.0,"2,539","2,012",527,20.8,2
2,2016.0,"3,147","2,520",627,19.9,Magoffin County,KY,"[21, 0]",153.0,2006.0,"4,326","3,886",440,10.2,21
3,2016.0,"94,117","76,345","17,772",18.9,Yuma County,AZ,"[4, 0]",27.0,2006.0,"77,764","66,129","11,635",15.0,4
4,2016.0,"2,423","1,990",433,17.9,Yukon-Koyukuk Census Area,AK,"[2, 0]",290.0,2006.0,"2,790","2,424",366,13.1,2
5,2016.0,"2,964","2,490",474,16.0,Northwest Arctic Borough,AK,"[2, 0]",188.0,2006.0,"2,963","2,627",336,11.3,2
6,2016.0,"10,910","9,214","1,696",15.5,Colusa County,CA,"[6, 0]",11.0,2006.0,"9,915","8,701","1,214",12.2,6
7,2016.0,"2,229","1,898",331,14.8,Jefferson County,MS,"[28, 0]",63.0,2006.0,"2,723","2,387",336,12.3,28
8,2016.0,"2,822","2,416",406,14.4,Wilcox County,AL,"[1, 0]",131.0,2006.0,"3,571","3,260",311,8.7,1
9,2016.0,"10,768","9,218","1,550",14.4,Luna County,NM,"[35, 0]",29.0,2006.0,"12,323","10,991","1,332",10.8,35
10,2016.0,"4,543","4,448",95,2.1,Kit Carson County,CO,"[8, 0]",63.0,2006.0,"4,485","4,349",136,3.0,8
11,2016.0,847,830,17,2.0,Kiowa County,CO,"[8, 0]",61.0,2006.0,888,858,30,3.4,8
12,2016.0,"2,961","2,901",60,2.0,Hartley County,TX,"[48, 0]",205.0,2006.0,"2,198","2,111",87,4.0,48
13,2016.0,"7,087","6,944",143,2.0,Lyon County,IA,"[19, 0]",119.0,2006.0,"6,666","6,513",153,2.3,19
14,2016.0,"21,150","20,719",431,2.0,Summit County,CO,"[8, 0]",117.0,2006.0,"16,845","16,324",521,3.1,8
15,2016.0,"2,333","2,288",45,1.9,Sargent County,ND,"[38, 0]",81.0,2006.0,"2,540","2,442",98,3.9,38
16,2016.0,"1,043","1,023",20,1.9,McCone County,MT,"[30, 0]",55.0,2006.0,994,968,26,2.6,30
17,2016.0,"2,474","2,426",48,1.9,Phillips County,CO,"[8, 0]",95.0,2006.0,"2,395","2,314",81,3.4,8
18,2016.0,"2,547","2,498",49,1.9,Dickey County,ND,"[38, 0]",21.0,2006.0,"3,019","2,936",83,2.7,38
19,2016.0,"2,094","2,059",35,1.7,Baca County,CO,"[8, 0]",9.0,2006.0,"2,423","2,348",75,3.1,8

In [12]:
url = "https://www.cdc.gov/drugoverdose/maps/rxcounty2006.html"

px_table_2006 = pd.read_html(url)
px_2006_df = pd.DataFrame(px_table_2006[0])
px_2006_df.columns=['County', 'State', 'county_fips_code', '2006 Px Rate']
px_2006_df.head()

               County State  county_fips_code 2006 Px Rate
0  Aleutians East, AK    AK              2013            –
1  Aleutians West, AK    AK              2016            –
2       Anchorage, AK    AK              2020         71.5
3          Bethel, AK    AK              2050            –
4     Bristol Bay, AK    AK              2060            –

In [13]:
url = "https://www.cdc.gov/drugoverdose/maps/rxcounty2016.html"

px_table_2016 = pd.read_html(url)
px_2016_df = pd.DataFrame(px_table_2016[0])
px_2016_df.columns=['County', 'State', 'county_fips_code', '2016 Px Rate']
px_2016_df.head()

               County State  county_fips_code 2016 Px Rate
0  Aleutians East, AK    AK              2013            –
1  Aleutians West, AK    AK              2016            –
2       Anchorage, AK    AK              2020         66.3
3          Bethel, AK    AK              2050            –
4     Bristol Bay, AK    AK              2060            –

In [14]:
merged_df = pd.merge(px_2006_df, px_2016_df, on='county_fips_code', how='inner')
merged_df.drop(columns=['County_y','State_y'])
merged_df = merged_df.set_index('county_fips_code').drop(columns=['County_y','State_y'])

county_unemployment_2016_df[['county','state']]= county_unemployment_2016_df.county_state.str.split(",",expand=True,)
clean_county_2016_df = county_unemployment_2016_df.drop('county_state',axis=1)

# final_df = merged_df.rename(columns={'County_x': 'County', 'State_x': 'State','2006 Px Rate': 
#                                      '2006_px_rate','2016 Px Rate':'2016_px_rate'})



# final_df.iloc[1,3]

final_df = final_df[final_df['2006_px_rate'] != '–']
final_df = final_df[final_df['2016_px_rate'] != '–']

final_df.head()

NameError: name 'final_df' is not defined

In [ ]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
engine.table_names()

In [ ]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [ ]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)